#cms-content {
	min-height: 580px;
	height: 100%!;
}

.cms-horizontal {
	display: inline;
}

.cms-vertical {
	display: block;
}

.col-md-6,
.col-md-9,
.col-md-12 {
	padding-left: 10px;
	padding-right: 0px;
}
.col-md-6:LAST-CHILD,
.col-md-9:LAST-CHILD,
.col-md-12:LAST-CHILD {
	padding-right: 10px;
}

.info-message, .error-message {
	border-radius: 3px;
	margin: 5px 0;
	padding: 3px;
}

.info-message {
	background-color: #dfffdf;
    border: 2px #4dc18c solid;
	color: #008d4c;
}

.error-message {
	background-color: #f8dbd7;
    border: 2px #dd4b39 solid;
	color: #9b3428;
}

.cms-btn-small {
	margin: 0.5em 1em 0.5 0;
	min-width: 6.0em;
	width: auto;
}

.cms-label-small {
	font-size: 80%;
	font-weight: normal;
}

.cms-label-default {
	font-size: 100%;
	font-weight: bold;
}

.cms-label-large {
	font-size: 120%;
	font-weight: bold;
}

.btn-group .cms-btn-small {
	margin: 0.5em 1em 0.5 0;
	min-width: 6.5em;
	min-height: 2.5em;
	width: auto;
}

.cms-btn-back {
	vertical-align: baseline;
	padding: 0 10px 0 0;
}

.edit-form input, input.form-control.number,
.edit-form  textarea, 
.edit-form select  {
	width: 500px;
}

.edit-form .number {
	width: 30px;
}

.edit-form textarea {
	height: 150px;
}

.edit-form select,
.edit-form .number {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.edit-form .form-control {
	border-radius: 4px;
	-webkit-box-shadow: inset 2px 3px 18px -17px rgba(56,55,56,1);
	-moz-box-shadow: inset 2px 3px 18px -17px rgba(56,55,56,1);
	box-shadow: inset 2px 3px 18px -17px rgba(56,55,56,1);
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
	line-height: 1.2;
}

.content-header > .breadcrumb > li > a:HOVER {
	text-decoration: underline;
}

#Themen td:nth-child(2){
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}  

#Veranstaltungen td:nth-child(3) {
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}